<html>
<head>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="/javascripts/main.js"></script> 
</head>
<body>
<form action="/user" method="post" onsubmit="prestatu(event)">
    <h2>Login</h2>
    <div class="input-field">
        <input type="text" name="username" id="username" placeholder="Enter Username">
    </div>
    <div class="input-field">
        <input type="password" name="password" id="password" placeholder="Enter Password">
    </div>
    <span id="errorea" style="color:red;" ></span>
    <input type="submit" class="submit" id="eman" value="LogIn">
</form>
</body>
</html>